{
  "repoServer":{
    "interface" : "0.0.0.0"
    "port" : "8181"
  }

  "database": {
    "host": "0.0.0.0"
    "dbname": "igludb"
    "username": "postgres"
    "password": "12012001"
  }

  "superApiKey": "bb7b7503-40d3-459c-943a-f8d31a6f5638"
}