{
  "input": {
    "topicName": "good"
    "bootstrapServers": "20.196.248.69:9092,20.196.245.32:9092"
  }

  "output": {
    "good": {
      "topicName": "enriched"
      "bootstrapServers": "20.196.248.69:9092,20.196.245.32:9092"
    }

    "bad": {
      "topicName": "bad"
      "bootstrapServers": "20.196.248.69:9092,20.196.245.32:9092"
    }
  }
}